<div class="page-container">
  <cx-gantt-chart [data]="chartData">
    <cx-gantt-chart-header>
      <div class="cx-gantt-chart-header">
        <div class="gantt-chart-types">
          <div class="gantt-chart-type-item">
            <div class="gantt-chart-type-item__square" style="background: #8799BA"></div>
            <span class="gantt-chart-type-item__text">Current goal</span>
          </div>
          <div class="gantt-chart-type-item">
            <div class="gantt-chart-type-item__square" style="background: #FF9E9E"></div>
            <span class="gantt-chart-type-item__text">Changed goal</span>
          </div>
          <div class="gantt-chart-type-item">
            <div class="gantt-chart-type-item__square" style="background: #7BDEAA"></div>
            <span class="gantt-chart-type-item__text">Completed goal</span>
          </div>
        </div>
      </div>
    </cx-gantt-chart-header>
  </cx-gantt-chart>
</div>