<div class="cx-gantt-task" [style.background]="taskData.color">
  <div class="cx-gantt-task__indicator" [style.background]="taskData.indicatorColor"></div>
  <div class="cx-gantt-task__title">{{taskData.title}}</div>
  <div class="cx-gantt-task__spacer"></div>
  <div *ngIf="taskData.status" class="cx-gantt-task-content">
    <div *ngIf="taskData.statusIcon" class="cx-gantt-task-content__icon">
      {{taskData.statusIcon}}
    </div>
    <div class="cx-gantt-task-content__label">
      {{taskData.status}}
    </div>
  </div>
</div>